* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	width:210mm;
	text-align: center;
}

a {
	text-decoration: none;
}

.bold{
	font-weight: bold;
}

ul,li {
	list-style: none;
}

img {
	border: none;
}

#print-content {
	width: 98%;
	margin: 10px auto;
}

#print-content h1 {
	font-size: 24px;
	text-align: center;
}

.floatLeft {
	float: left;
}
.floatLeft50 {
	float: left;
	margin-left: 50px;
}
.floatRight {
	float: right;
}

.headInfo {
	margin: 5px auto;
	height: 16px;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #000;
}

.tableTopBorder_3 {
	border-top: 0px solid #000;
}

td,th {
	border: 1px solid #000;
	text-align: center;
	padding: 3px 5px;
}

.signatureArea {
	height: 25px;
	line-height: 25px;
}
.signatureArea .firstSpan{
	margin-right:200px;
}
#print-content .header .titleArea{ height:50px; position:relative;}
#print-content .header h1{ padding-top:10px;}
.printTm{ position:absolute; left:0px;  top:0px;}
.contractTable td
{
	text-align:left;
}
.contractTable th{
	font-weight:bold;
}
.printInput{
	width:99%;
	border: none;
	background: none;
}
.font24{
	font-size: 24px;
}
.font20{
	font-size: 20px;
}
.width200{
	width: 200px;
}
.width180{
	width: 180px;
}
.btn {
cursor: pointer;
padding: 2px 10px;
margin: 0px 10px;
}
@media print
{
	.pageBreak {page-break-after:always;}
	.noPrint{
		display:none;
	}
}
