<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">

    <!-- 使用Spring的Annotation -->

    <context:annotation-config/>
    <!-- 使用Spring的Annotation -->

    <!-- AOP -->
    <context:component-scan base-package="cn.lx,cn.venice">
    </context:component-scan>
    <aop:aspectj-autoproxy/>
    <!-- AOP -->

    <!-- <cache:annotation-driven cache-manager="cacheManager" /> <bean id="cacheManager"
        class="org.springframework.cache.support.SimpleCacheManager"> <property name="caches">
        <set> <bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean"
        p:name="default" /> <bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean"
        p:name="motorCache" /> </set> </property> </bean> -->

    <bean
            class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/dx?autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false"/>
        <!--
        <property name="url"
                  value="jdbc:mysql://localhost:3306/dx?autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false"/>
        -->
        <property name="username" value="root"/>
        <property name="password" value="lntujiuru"/>
        <property name="initialSize" value="20"/>
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="300"/>
        <property name="minIdle" value="100"/>
        <property name="maxWait" value="50000"/>
        <!-- <property name="logAbandoned" value="true" /> <property name="removeAbandoned"
            value="true" /> <property name="removeAbandonedTimeout" value="1000" /> -->
        <property name="timeBetweenEvictionRunsMillis" value="10000"/>
        <property name="minEvictableIdleTimeMillis" value="180000"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://59.47.179.191:9102/dx</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <!-- 系统管理 -->
                <value>cn/venice/D00/model/D0001.hbm.xml</value>
                <value>cn/venice/D00/model/V0001.hbm.xml</value>
                <value>cn/venice/D00/model/D0011.hbm.xml</value>

                <value>cn/venice/D00/model/D0002.hbm.xml</value>

                <value>cn/venice/D00/model/D0003.hbm.xml</value>
                <value>cn/venice/D00/model/V0003.hbm.xml</value>

                <value>cn/venice/D00/model/D0004.hbm.xml</value>

                <value>cn/venice/D00/model/D0005.hbm.xml</value>


            </list>
        </property>
    </bean>

    <!-- 事务管理开始 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"
                          proxy-target-class="true"/>
    <!-- 事务管理结束 -->

    <bean class="cn.venice.gen.context.ApplicationContextTools"
          lazy-init="false"></bean>
</beans>